.inputBase {
  width: 100%;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  outline: none;
  font-size: var(--font-size-14);
}

.inputPrimary {
  height: 48px;
  background: #f6f6f6;
  color: var(--color-text-secondary);
  padding: 0 52px 0 20px;
}

.inputPrimary::placeholder {
  color: #9f9f9f;
}

.inputSecondary {
  height: 48px;
  background: var(--color-white);
  color: var(--color-text-primary);
  padding: 0 20px;
}
